$primary-color: #ffdf29;
$shadow-color: #ffff00;
$secondary-color:#ff9c31;
$tertiary-color: #8A2BE2;
$background-color: #4B0082;
$button-color: #00CED1;
$text-color:  #00CED1;
$reset-shadow-color-hover: #20B2AA;
$reset-shadow-color: #008B8B;
$font-family: 'Monaco', sans serif;


